body{
    background-image: url('background-image.jpg');
}
.page{
    width: auto;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.info{
    height: 250px;
}
.perso{
    float: left;
    text-align: left;
}
.projet{
    float: right;
    margin-top: 30px;
    margin-right: 200px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: solid;
    border-color: blue;
    padding-left: 10px;
    padding-right: 10px;
}
.section{
    margin-bottom: 70px;
}
.sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-right: 50px;
}
.sec-droite{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}
h2{
    font-size: 28px;
    color: blue;
    text-transform: uppercase;
    background-color: gray;
    text-align: left;
}
strong{
    font-size: 26px;
}
.comp-gauche{
    float: left;
    margin-right: 150px;
    margin-bottom: 40px;
}
.comp-droite{
    margin-left: 150px;
    margin-top: 40px;
}


